<div class="flex flex-wrap">
  <div class="w-full lg:w-6/12">
    <h6 class="text-l font-normal leading-normal mt-0 text-blueGray-800">
      Ribolovački savez
    </h6>

    <h4 class="text-l font-bold leading-normal mt-0 mb-2 text-blueGray-800">
      {{ udruzenje.ribolovackiSavez }}
    </h4>
  </div>

  <div class="w-full lg:w-6/12">
    <h6 class="text-l font-normal leading-normal mt-0 text-blueGray-800">
      Naziv udruženja
    </h6>

    <h4 class="text-l font-bold leading-normal mt-0 mb-2 text-blueGray-800">
      {{ udruzenje.naziv }}
    </h4>
  </div>
</div>

<div class="flex flex-wrap">
  <div class="w-full lg:w-6/12">
    <h6 class="text-l font-normal leading-normal mt-0 text-blueGray-800">
      Mjesto udruženja
    </h6>

    <h4 class="text-l font-bold leading-normal mt-0 mb-2 text-blueGray-800">
      {{ udruzenje.mjesto }}
    </h4>
  </div>

  <div class="w-full lg:w-6/12">
    <h6 class="text-l font-normal leading-normal mt-0 text-blueGray-800">
      Adresa udruženja
    </h6>

    <h4 class="text-l font-bold leading-normal mt-0 mb-2 text-blueGray-800">
      {{ udruzenje.adresa }}
    </h4>
  </div>
</div>

<div class="flex flex-wrap">
  <div class="w-full lg:w-6/12">
    <h6 class="text-l font-normal leading-normal mt-0 text-blueGray-800">
      Kontakt telefon
    </h6>

    <h4 class="text-l font-bold leading-normal mt-0 mb-2 text-blueGray-800">
      {{ udruzenje.kontaktTelefon }}
    </h4>
  </div>

  <div class="w-full lg:w-6/12">
    <h6 class="text-l font-normal leading-normal mt-0 text-blueGray-800">
      Email adresa
    </h6>

    <h4 class="text-l font-bold leading-normal mt-0 mb-2 text-blueGray-800">
      {{ udruzenje.kontaktEmail }}
    </h4>
  </div>
</div>

<div class="flex flex-wrap">
  <div class="w-full lg:w-12/12">
    <h6 class="text-l font-normal leading-normal mt-0 text-blueGray-800">
      Kratak opis
    </h6>

    <h4 class="text-l font-bold leading-normal mt-0 mb-2 text-blueGray-800">
      {{ udruzenje.opis }}
    </h4>
  </div>
</div>

<div class="flex content-center items-center justify-center h-full mt-2">
  <button class="bg-teal-500 text-white font-bold uppercase text-sm px-3 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-2 ease-linear transition-all duration-150"
          type="button" id="openAssociationEditModalBtn"
          (click)="openAssociationEditModal()"
          role="button">
    Uredi profilne podatke
  </button>
</div>

<app-association-profile-edit *ngIf="showModal" [udruzenjeId]="udruzenje.udruzenjeId" (modalClosed)="modalClosed()"></app-association-profile-edit>

