<div id="associationProfileEditModal" class="fixed w-full h-full z-50 top-0 bg-gray-transparent">
  <div class="relative w-auto my-6 mx-auto max-w-50-p">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-center justify-between p-1 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-xl ml-3 font-semibold">
          {{ udruzenje.naziv }} - izmjena profilnih podataka
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="closeModal()">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <form name="form" (ngSubmit)="f.valid && saveAndCloseModal()" #f="ngForm" novalidate>
        <div class="relative p-6" style="max-height: calc(100vh - 150px); overflow-y: auto;">
          <div class="flex content-center items-center justify-center h-full">
            <div class="w-full m-4">
              <div class="w-full lg:w-12/12 px-2">
                <div class="relative w-full mb-3 mt-3">
                  <label class="block text-blueGray-600 text-xs font-bold mb-2">Ribolovački savez*</label>
                  <select required [disabled]="true" [(ngModel)]="udruzenje.nadredjenoUdruzenjeId" name="nadredjenoUdruzenjeId" #nadredjenoUdruzenjeId="ngModel" autocomplete="off" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-lightGray rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                    <option *ngFor="let udr of udruzenja" [value]="udr.udruzenjeId">
                      {{ udr.naziv }}
                    </option>
                  </select>
                  <div *ngIf="f.submitted && udruzenje.nadredjenoUdruzenjeId < 1" class="error-input">Odaberite ribolovački savez kojem Vaše udruženje pripada</div>
                </div>
              </div>

              <div class="w-full lg:w-12/12 px-2">
                <div class="relative w-full mb-3">
                  <label class="block text-blueGray-600 text-xs font-bold mb-2">Naziv udruženja*</label>
                  <input type="text" [(ngModel)]="udruzenje.naziv" name="naziv" #naziv="ngModel" required autocomplete="off" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-lightGray rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  <div *ngIf="f.submitted && naziv.invalid" class="error-input">Unesite naziv Vašeg udruženja</div>
                  <div *ngIf="f.submitted && naziv.valid && udruzenje.naziv?.length < 3" class="error-input">Naziv udruženja mora sadržavati minimalno 3 karaktera</div>
                </div>
              </div>

              <div class="flex flex-wrap mb-3">
                <div class="w-full lg:w-6/12 px-2">
                  <label class="block text-blueGray-600 text-xs font-bold mb-2">Mjesto udruženja*</label>
                  <select autocomplete="off" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-lightGray rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" required [(ngModel)]="udruzenje.administrativnaJedinicaId" name="administrativnaJedinicaId" #administrativnaJedinicaId="ngModel">
                    <option [value]="0">-- Odaberite --</option>
                    <option *ngFor="let admJedinica of admJedinice" [value]="admJedinica.administrativnaJedinicaId">
                      {{ admJedinica.naziv }}
                    </option>
                  </select>
                  <div *ngIf="f.submitted && udruzenje.administrativnaJedinicaId < 1" class="error-input">Odaberite mjesto Vašeg udruženja</div>
                </div>

                <div class="w-full lg:w-6/12 px-2">
                  <label class="block text-blueGray-600 text-xs font-bold mb-2">Adresa udruženja*</label>
                  <input type="text" required autocomplete="off" [(ngModel)]="udruzenje.adresa" name="adresa" #adresa="ngModel" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-lightGray rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  <div *ngIf="f.submitted && adresa.invalid" class="error-input">Unesite adresu udruženja</div>
                  <div *ngIf="f.submitted && adresa.valid && udruzenje.adresa?.length < 3" class="error-input">Adresa udruženja mora sadržavati minimalno 3 karaktera</div>
                </div>
              </div>

              <div class="flex flex-wrap mb-3">
                <div class="w-full lg:w-6/12 px-2">
                  <label class="block text-blueGray-600 text-xs font-bold mb-2">Kontakt telefon udruženja*</label>

                  <ngx-intl-tel-input [(ngModel)]="kontaktTelefon"
                                      [cssClass]="'border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-lightGray rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150 ng-untouched ng-pristine ng-invalid'"
                                      [onlyCountries]="preferredCountries"
                                      [customPlaceholder]="customPlaceholder"
                                      [enableAutoCountrySelect]="false"
                                      [enablePlaceholder]="true"
                                      [searchCountryFlag]="false"
                                      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                      [selectFirstCountry]="false"
                                      [selectedCountryISO]="CountryISO.BosniaAndHerzegovina"
                                      [maxLength]="10"
                                      [phoneValidation]="true"
                                      [separateDialCode]="true"
                                      [numberFormat]="PhoneNumberFormat.National"
                                      [inputId]="kontaktTelefon"
                                      name="phone"
                                      #phone="ngModel"></ngx-intl-tel-input>
                  <div *ngIf="f.submitted && kontaktTelefon == null" class="error-input">Unesite kontakt telefon udruženja</div>
                  <div *ngIf="f.submitted && phone.invalid" class="error-input">Broj telefona udruženja nije ispravan</div>
                </div>

                <div class="w-full lg:w-6/12 px-2">
                  <label class="block text-blueGray-600 text-xs font-bold mb-2">Email adresa udruženja</label>
                  <input type="email" [(ngModel)]="udruzenje.kontaktEmail" name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-lightGray rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  <div *ngIf="f.submitted && email.invalid && udruzenje.kontaktEmail?.length >= 1" class="error-input">Email adresa nije ispravna</div>
                </div>
              </div>

              <div class="flex flex-wrap mb-3">
                <div class="w-full lg:w-12/12 px-2">
                  <label class="block text-blueGray-600 text-xs font-bold mb-2">Kratak opis udruženja*</label>
                  <textarea required autocomplete="off" [(ngModel)]="udruzenje.opis" name="opis" #opis="ngModel" rows="3" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-lightGray rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"></textarea>
                  <div *ngIf="f.submitted && opis.invalid" class="error-input">Unesite kratak opis udruženja</div>
                  <div *ngIf="f.submitted && opis.valid && udruzenje.opis?.length < 20" class="error-input">Opis mora sadržavati minimalno 20 karaktera</div>
                </div>
              </div>

              <div class="flex flex-wrap mb-3">
                <div class="w-full lg:w-12/12 px-2">
                  <label class="block text-blueGray-600 text-xs font-bold mb-2">Logo udruženja</label>
                  <app-file-upload class="w-full"></app-file-upload>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--footer-->
        <div class="flex items-center justify-end px-1 py-1 border-t border-solid border-blueGray-200 rounded-b">
          <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="closeModal()">
            Zatvori
          </button>
          <button class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="submit">
            Sačuvaj
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
